@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--EerieBlack: #121416;
	--LightEerie: #1c2024;
	--Gainsboro: #DFDFDF;
	--Fulvous: #e88821;
	--MajorelleBlue: #5e4ae3;
	--LightMajorelle: #7869d6;
	--DarkMajorelle: #362a85;
	--Blond: #FBF2C0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	margin: 0;
	background: var(--EerieBlack);
}

a,
button {
	all: unset;
}

a:hover {
	cursor: pointer;
}

p {
	margin: 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.25rem;
	color: var(--Gainsboro);
	line-height: 3rem;
}

h1 {
	margin: 0;
	line-height: 0;
	color: var(--Gainsboro);
}

.animate-in {
	opacity: 0;
	transform: translateY(2rem);
	transition: opacity 0.5s, transform 0.5s;
}









header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	min-height: 7.5rem;
	width: 100%;
	background: var(--LightEerie);
	box-shadow: rgba(0, 0, 0, 0.664) 0px 0px 10px 0px;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	color: var(--Gainsboro);
	cursor: default;
}

#header-button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 3rem;
	/* background: red; */
}

.header-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 7rem;
	margin: 0 1rem;
	background: var(--MajorelleBlue);
	border: none;
	border-radius: 0.2rem;
	box-shadow: #5e4ae365 0px 10px 13px -7px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	color: var(--Gainsboro);
	transition: all 0.1s ease;
	cursor: pointer;
}

.header-button:hover {
	background: var(--LightMajorelle);
	box-shadow: var(--LightMajorelle) 0px 10px 13px -7px;
}

.header-button:active {
	transform: scale(0.98, 0.98);
	box-shadow: #5e4ae3 0px 7px 13px -7px;
}

#header-login,
#header-logout {
	background: none;
	border: 0.1rem solid #5e4ae3;
}

#header-login:hover,
#header-logout:hover {
	background: var(--LightMajorelle);
	border: 0.1rem solid var(--LightMajorelle);
	box-shadow: var(--LightMajorelle) 0px 10px 13px -7px;
}

#header-login:active,
#header-logout:active {
	transform: scale(0.98, 0.98);
	box-shadow: #5e4ae3 0px 7px 13px -7px;
}

#menu-icon {
	display: none;
	cursor: pointer;
}











main {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}












#home-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100dvw;
}

.diagonal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 40rem;
	width: 100%;
	margin: 20rem 0 20rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: rgb(59, 56, 48);
}

.diagonal::after {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	transform: skewY(-5deg);
	background: var(--DarkMajorelle);
}

#diagonal-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40rem;
	width: 100%;
	max-width: 150rem;
}

#dw-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 5rem;
}

#dw-left>h2 {
	max-width: 40rem;
	margin: 6rem auto 0 auto;
	color: var(--Gainsboro);
	line-height: 4rem;
}

#button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
	width: 50%;
	min-width: 42rem;
	margin-top: 3rem;
}

#button-wrapper>button {
	margin: 0 auto;
}

#create-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 7rem;
	width: 18rem;
	background: var(--MajorelleBlue);
	border: none;
	border-radius: 0.5rem;
	box-shadow: #5e4ae3 0px 10px 13px -7px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--Gainsboro);
	transition: all 0.1s ease;
	cursor: pointer;
}

#create-button:hover {
	background: var(--LightMajorelle);
	box-shadow: var(--LightMajorelle) 0px 10px 13px -7px;
}

#create-button:active {
	transform: scale(0.98, 0.98);
	box-shadow: #5e4ae3 0px 7px 13px -7px;
}

#learn-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 7rem;
	width: 18rem;
	background: none;
	border: 0.2rem solid var(--MajorelleBlue);
	border-radius: 0.5rem;
	box-shadow: #5e4ae357 0px 10px 13px -7px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--Gainsboro);
	transition: all 0.1s ease;
	cursor: pointer;
}

#learn-button:hover {
	background: var(--LightMajorelle);
	border: 0.2rem solid var(--LightMajorelle);
	box-shadow: var(--LightMajorelle) 0px 10px 13px -7px;
}

#learn-button:active {
	transform: scale(0.98, 0.98);
	box-shadow: #5e4ae3 0px 7px 13px -7px;
}

#preview-wrapper {
	display: flex;
	width: 100%;
	/* min-width: 40rem; */
	max-width: 70rem;
	margin: 0 5rem 0 0;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

#preview {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.wave-container {
	height: 100%;
	width: 100%;
	background-color: var(--EerieBlack);
	position: relative;
}

.wave-container::before {
	content: "";
	width: 100%;
	height: 76px;
	position: absolute;
	bottom: -0.3%;
	left: 0;
	background-size: auto;
	background-repeat: repeat no-repeat;
	background-position: 24vw bottom;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23362a85'/></svg>");
}

@media(max-width:850px) {
	.wave-container::before {
		height: 38px
	}
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10rem 0;
	background: var(--DarkMajorelle);
	box-shadow: 0px -100px 50px 15px rgba(0, 0, 0, 0.75);
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	text-align: center;
	color: var(--Gainsboro);
}

#steps-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 150rem;
	margin: 5rem 0 10rem 0;
	/* background: red; */
}

.step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 35rem;
	width: 30rem;
	margin: auto;
	padding: 1rem;
	/* background: grey; */
	opacity: 0;
	color: var(--Gainsboro);
}

.step>h3 {
	position: absolute;
	top: 0;
}

.step-icon {
	position: absolute;
	bottom: 0;
	width: 25%;
}

#spotify-icon {
	left: 22%;
}

#lastfm-icon {
	right: 22%;
}

#bottom-create {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 25rem;
	width: 50%;
	min-width: 30rem;
	max-width: 50rem;
	padding: 2rem;
	border: 0.2rem solid var(--MajorelleBlue);
	border-radius: 0.5rem;
}

#bottom-create>h3 {
	margin: 0 0 5rem;
}











#signup-section,
#login-section {
	display: flex;
	height: calc(100dvh - 7.5rem);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50%;
	max-width: 50rem;
	margin: auto;
	padding: 7rem 5rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

.back-link {
	position: absolute;
	top: 3rem;
	left: 3rem;
}

form>h2 {
	margin: 0 0 1.5rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	color: var(--Gainsboro);
}

form>p {
	margin: 0 0 3rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.5rem;
	color: #dfdfdfcc;
	text-align: center;
}

form>p>a {
	color: var(--LightMajorelle);
}

form>a {
	width: 100%;
}

label {
	align-self: flex-start;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--Gainsboro);
}

input {
	height: 5rem;
	width: 100%;
	padding: 1.5rem 1.5rem;
	margin: 1rem 0 3rem 0;
	background: #DFDFDF;
	border: none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
}

input[type="password"] {
	font-family: Arial;
}

.error-text {
	display: none;
	margin: 0;
	color: red;
	line-height: 0;
}

.form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 5rem;
	width: 100%;
	margin: 3rem 0 0 0;
	background: var(--MajorelleBlue);
	border: none;
	border-radius: 0.5rem;
	box-shadow: #5e4ae3 0px 10px 13px -7px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--Gainsboro);
	transition: all 0.1s ease;
	cursor: pointer;
}

.form-submit:hover {
	background: var(--LightMajorelle);
	box-shadow: var(--LightMajorelle) 0px 10px 13px -7px;
}

.form-submit:active {
	transform: scale(0.98, 0.98);
	box-shadow: #5e4ae3 0px 7px 13px -7px;
}











#releases-view-toggle {
	display: grid;
	grid-template-columns: 50% 50%;
	position: absolute;
	top: 6rem;
	height: 3rem;
	width: 20rem;
}

.view-toggle-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.25rem;
	color: var(--Gainsboro);
	transition: all 0.1s;
	cursor: pointer;
}

.view-toggle-btn:first-of-type {
	border: solid 0.1rem var(--MajorelleBlue);
	border-right: none;
	border-radius: 0.3rem 0 0 0.3rem;
}

.view-toggle-btn:last-of-type {
	border: solid 0.1rem var(--MajorelleBlue);
	border-left: none;
	border-radius: 0 0.3rem 0.3rem 0;
}

.view-toggle-btn:first-of-type:hover {
	background: var(--LightMajorelle);
	border: solid 0.1rem var(--LightMajorelle);
	border-right: none;
}

.view-toggle-btn:last-of-type:hover {
	background: var(--LightMajorelle);
	border: solid 0.1rem var(--LightMajorelle);
	border-left: none;
}

.view-selected {
	background: var(--MajorelleBlue);
	pointer-events: none;
}










#artist-source-selection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* top: 0; */
	transform: translateY(50%);
	padding: 7rem;
	max-width: 50rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

#artist-source-selection>h2 {
	margin: 0 0 1.5rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	color: var(--Gainsboro);
	text-align: center;
	line-height: 3.5rem;
}

#connect-card-container {
	display: flex;
}

.connect-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 18rem;
	width: 15rem;
	margin: 5rem 3rem 0;
	padding: 2rem;
	border-radius: 0.5rem;
	color: var(--Gainsboro);
	font-size: 1.5rem;
	transition-duration: 0.2s;
	cursor: pointer;
}

.connect-card:hover {
	transform: translateY(-2%);
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

.connect-icon {
	height: 15rem;
}

#spotify-card {
	background: #1DB954;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 18rem;
	width: 15rem;
	margin: 5rem 3rem 0;
	padding: 2rem;
	perspective: 100rem;
	cursor: pointer;
	transition: 0.1s linear;
}

.card-flip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 18rem;
	width: 15rem;
	margin: 0 3rem 0;
	padding: 2rem;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.card-flipped {
	transform: rotateY(180deg);
	cursor: default;
}

#lastfm-card-front,
.card-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 18rem;
	width: 15rem;
	margin: 0 3rem 0;
	padding: 2rem;
	border-radius: 0.5rem;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#lastfm-card-front {
	background: #c3000d;
}

.card-back {
	background: #c3000d;
	transform: rotateY(180deg);
	font-size: 1.5rem;
}

.card-back>input {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0 3rem 0;
	background: #DFDFDF;
	border: none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
}

.card-back>.form-submit {
	height: 3.7rem;
	margin: 0 0 0 0;
	box-shadow: none;
}











#loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(100%);
	padding: 7rem;
	max-width: 50rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

#loading-container>h2 {
	margin-bottom: 2rem;
	color: var(--Gainsboro);
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	text-align: center;
}

#loading-container>p {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 5rem;
}

#loading-icon {
	height: 10rem;
	animation: spin 5s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}











.release-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 0fr));
	gap: 7.5rem;
	justify-items: center;
	margin-top: 16rem;
	min-height: 100%;
	min-width: fit-content;
	max-width: 80dvw;
}

.release-card {
	align-items: center;
	flex-direction: column;
	height: fit-content;
	width: 25rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

.release-card:last-of-type {
	margin-bottom: 16rem;
}

.release-cover {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 0.5rem 0.5rem 0 0;
}

.release-card>p {
	margin: 0 1rem 0 1rem;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.release-card>p:first-of-type {
	margin-top: 1rem;
}

.release-card>p:last-of-type {
	margin-bottom: 1rem;
}


























/* -----------------Media Queries----------------- */










@media (max-width: 900px) {
	.diagonal {
		margin: 0 0 5rem 0;
	}

	.diagonal::after {
		transform: skewY(0deg);
	}

	#dw-left {
		margin: 0 1rem;
	}

	#preview-wrapper {
		min-width: 30rem;
		margin: 0 2rem 0 0;
	}
}

@media (max-width: 730px) {
	#header-button-wrapper {
		display: flex;
	}

	.header-button {
		display: none;
	}

	#menu-icon {
		display: flex;
	}

	.diagonal {
		height: 100%;
		margin: 0;
	}

	.diagonal::after {
		height: 80%;
	}

	#diagonal-wrapper {
		flex-direction: column;
		height: 100%;
	}

	#preview-wrapper {
		max-width: 30rem;
		margin: 3rem 0;
	}

	#no-connections {
		width: 60%;
		padding: 5rem;
	}
}

@media (max-width: 600px) {
	#about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 3rem 0 5rem 0;
		background: var(--DarkMajorelle);
		box-shadow: 0px -100px 50px 15px rgba(0, 0, 0, 0.75);
		font-family: 'Urbanist', sans-serif;
		font-size: 2rem;
		text-align: center;
		color: var(--Gainsboro);
	}

	#steps-wrapper {
		flex-direction: column;
		margin: 2rem 0 2rem 0;
	}

	.step {
		justify-content: flex-start;
		height: 25rem;
		width: 50%;
		min-width: 30rem;
		max-width: 50rem;
		margin: 2rem 0;
		padding: 2rem;
		border: 0.2rem solid var(--MajorelleBlue);
		border-radius: 0.5rem;
	}

	.step>h3 {
		position: relative;
	}

	.step-icon {
		position: relative;
		width: 25%;
		margin: 2rem 0;
	}

	#spotify-icon {
		position: absolute;
		bottom: 2rem;
		left: 22%;
	}

	#lastfm-icon {
		position: absolute;
		bottom: 2rem;
		right: 22%;
	}

	#signup-section,
	#login-section {
		justify-content: center;
		align-items: flex-start;
		padding-top: 7rem;
		height: calc(100dvh - 14.5rem);
	}

	form {
		width: 80%;
		max-width: 50rem;
		margin: 0;
		padding: 2rem 3rem;
		background: none;
		box-shadow: none;
	}

	.back-link {
		top: -3rem;
	}

	#artist-source-selection {
		justify-content: normal;
		padding-top: 7rem;
		padding-bottom: 0;
		height: calc(100dvh - 14.5rem);
		transform: none;
		background: none;
		border-radius: none;
		box-shadow: none;
	}

	#no-connections {
		width: min-content;
		margin: 0;
		padding: 5rem;
		background: none;
		box-shadow: none;
	}

	#connect-card-container {
		flex-direction: column;
	}

	#loading-container {
		justify-content: normal;
		/* top: 0; */
		transform: none;
		max-width: 90%;
		margin: 0;
		background: none;
		border-radius: none;
		box-shadow: none;
	}
}

@media (max-width: 420px) {
	.diagonal {
		font-size: 1.5rem;
	}

	#dw-left>h2 {
		padding: 0 3rem;
	}

	#button-wrapper {
		flex-direction: column;
		height: 100%;
		min-width: min-content;
		margin: 3rem 0 0 0;
	}

	#button-wrapper>a {
		margin: 1.5rem 0;
	}
}