@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--EerieBlack: #121416;
	--LightEerie: #1c2024;
	--Gainsboro: #DFDFDF;
	--Fulvous: #e88821;
	--MajorelleBlue: #5e4ae3;
	--LightMajorelle: #7869d6;
	--DarkMajorelle: #362a85;
	--Blond: #FBF2C0;
}

html {
	font-size: 62.5%;
}

button {
	all: unset;
}

p {
	margin: 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.25rem;
	color: var(--Gainsboro);
	line-height: 3rem;
}

h1 {
	margin: 0;
	line-height: 0;
	color: var(--Gainsboro);
}

body {
	overflow-x: hidden;
	margin: 0;
	background: var(--EerieBlack);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	min-height: 7.5rem;
	width: 100%;
	background: var(--LightEerie);
	box-shadow: rgba(0, 0, 0, 0.664) 0px 0px 10px 0px;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	color: var(--Gainsboro);
	cursor: default;
}

main {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100dvw;
}








form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	max-width: 50rem;
	margin: auto;
	padding: 7rem 5rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

form>h2 {
	margin: 0 0 1.5rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	color: var(--Gainsboro);
}

form>p {
	margin: 0 0 3rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.5rem;
	color: #dfdfdfcc;
	text-align: center;
}

form>p>a {
	color: var(--LightMajorelle);
}

form>a {
	width: 100%;
}

label {
	align-self: flex-start;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--Gainsboro);
}

input {
	height: 5rem;
	width: 100%;
	padding: 1.5rem 1.5rem;
	margin: 1rem 0 3rem 0;
	background: #DFDFDF;
	border: none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
}

input[type="password"] {
	font-family: Arial;
}

.error-text {
	display: none;
	margin: 0;
	color: red;
	line-height: 0;
}

.form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 5rem;
	width: 100%;
	margin: 3rem 0 0 0;
	background: var(--MajorelleBlue);
	border: none;
	border-radius: 0.5rem;
	box-shadow: #5e4ae3 0px 10px 13px -7px;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--Gainsboro);
	transition: all 0.1s ease;
	cursor: pointer;
}

.form-submit:hover {
	background: var(--LightMajorelle);
	box-shadow: var(--LightMajorelle) 0px 10px 13px -7px;
}

.form-submit:active {
	transform: scale(0.98, 0.98);
	box-shadow: #5e4ae3 0px 7px 13px -7px;
}











#releases-view-toggle {
	display: grid;
	grid-template-columns: 50% 50%;
	position: absolute;
	top: 6rem;
	height: 3rem;
	width: 20rem;
}

.view-toggle-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.25rem;
	color: var(--Gainsboro);
	transition: all 0.1s;
	cursor: pointer;
}

.view-toggle-btn:first-of-type {
	border: solid 0.1rem var(--MajorelleBlue);
	border-right: none;
	border-radius: 0.3rem 0 0 0.3rem;
}

.view-toggle-btn:last-of-type {
	border: solid 0.1rem var(--MajorelleBlue);
	border-left: none;
	border-radius: 0 0.3rem 0.3rem 0;
}

.view-toggle-btn:first-of-type:hover {
	background: var(--LightMajorelle);
	border: solid 0.1rem var(--LightMajorelle);
	border-right: none;
}

.view-toggle-btn:last-of-type:hover {
	background: var(--LightMajorelle);
	border: solid 0.1rem var(--LightMajorelle);
	border-left: none;
}

.view-selected {
	background: var(--MajorelleBlue);
	pointer-events: none;
}










#artist-source-selection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* top: 0; */
	transform: translateY(50%);
	padding: 7rem;
	max-width: 50rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

#artist-source-selection>h2 {
	margin: 0 0 1.5rem 0;
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	color: var(--Gainsboro);
	text-align: center;
}

#connect-card-container {
	display: flex;
}

.connect-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 18rem;
	width: 15rem;
	margin: 5rem 3rem 0;
	padding: 2rem;
	border-radius: 0.5rem;
	color: var(--Gainsboro);
	font-size: 1.5rem;
	transition-duration: 0.2s;
	cursor: pointer;
}

.connect-card:hover {
	transform: translateY(-2%);
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

.connect-icon {
	height: 15rem;
}

#spotify-card {
	background: #1DB954;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 18rem;
	width: 15rem;
	margin: 5rem 3rem 0;
	padding: 2rem;
	perspective: 100rem;
	cursor: pointer;
	transition: 0.1s linear;
}

.card-flip {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 18rem;
	width: 15rem;
	margin: 0 3rem 0;
	padding: 2rem;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.card-flipped {
	transform: rotateY(180deg);
	cursor: default;
}

#lastfm-card-front,
.card-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 18rem;
	width: 15rem;
	margin: 0 3rem 0;
	padding: 2rem;
	border-radius: 0.5rem;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#lastfm-card-front {
	background: #c3000d;
}

.card-back {
	background: #c3000d;
	transform: rotateY(180deg);
	font-size: 1.5rem;
}

.card-back>input {
	width: 100%;
	padding: 1rem;
	margin: 1rem 0 3rem 0;
	background: #DFDFDF;
	border: none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.7rem;
}

.card-back>.form-submit {
	height: 3.7rem;
	margin: 0 0 0 0;
	box-shadow: none;
}











#loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(100%);
	padding: 7rem;
	max-width: 50rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

#loading-container>h2 {
	margin-bottom: 2rem;
	color: var(--Gainsboro);
	font-family: 'Urbanist', sans-serif;
	font-size: 2rem;
	text-align: center;
}

#loading-container>p {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 5rem;
}

#loading-icon {
	height: 10rem;
	animation: spin 5s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}











.release-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 0fr));
	gap: 7.5rem;
	justify-items: center;
	margin-top: 16rem;
	min-height: 100%;
	min-width: fit-content;
	max-width: 80dvw;
}

.release-card {
	align-items: center;
	flex-direction: column;
	height: fit-content;
	width: 25rem;
	background: var(--LightEerie);
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.678) 0px 0px 50px 0px;
}

.release-card:last-of-type {
	margin-bottom: 16rem;
}

.release-cover {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 0.5rem 0.5rem 0 0;
}

.release-card>p {
	text-align: center;
}

.release-card>p:first-of-type {
	margin-top: 1rem;
}

.release-card>p:last-of-type {
	margin-bottom: 1rem;
}